
    <link rel="stylesheet" href="/CSS/style.css" />

  </head>
  <body>
    <!--landing page-->
    <div class="slideshow"></div>
    <video autoplay muted loop id="myVideo">
      <source src="/assets/images/movie.mp4" type="video/mp4" />
    </video>
    <span class="logo">Watch<strong>-iT</strong></span>
    <br /><br />
    <div class="text">
      <div class="title">
        <p>See Movie Review's</p>
      </div>
      <div class="underscore">
        <p>
          <span>Most Popular Movies</span><span>Upcoming Movies</span><span>Top
            Rated Movies</span>
        </p>
      </div>
    </div>
    <a href="/nowplaying" class="btn-lg btn-red">Get Started</a>


    <script type="text/javascript" src="/JS/script.js"></script>
