
  </head>

  <body>
    <div class="container"></div>

<div class="slideshow"></div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">WatchiT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/nowplaying">
            <i class="far fa-play-circle"></i>Currently Playing
          </a>
        </li>
        <li>
          <a href="/popular">
            <i class="far fa-star"></i>Popular
          </a>
        </li>
        <li>
          <a href="/toprated">
            <i class="far fa-arrow-alt-circle-up"></i>Top Rated
          </a>
        </li>
        <li>
          <a href="/upcoming">
            <i class="far fa-calendar-alt"></i>Upcoming
          </a>
        </li>
         <li>
          <a href="">
         <i class="fas fa-camera-movie"></i>Your Movie
          </a>
        </li>
        <li>
          <a href="/login-form">
        <i class="fa-regular fa-arrow-right-to-bracket"></i>LOGIN/SIGN UP
          </a>
        </li>
      </ul>
      
    </div>
    <form id="form" style="display: flex; justify-content: flex-end; padding: 1rem;">
        <input type="text" id="search" placeholder="Search" class="search" />
      </form>
    <!-- /.navbar-collapse -->
  </div>
  
  <!-- /.container-fluid -->
</nav>

 <div class="main" id="content"></div>


