<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WatchiT</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick-theme.css"
    />
     <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://kenwheeler.github.io/slick/slick/slick-theme.css"
    />
    <link rel="stylesheet" href="/CSS/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600"
      rel="stylesheet"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-5357926148681370",
        enable_page_level_ads: true,
      });
    </script>
  </head>

  <body>
    <div class="container"></div>


<div class="slideshow"></div>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index">WatchiT</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/nowplaying">
            <i class="far fa-play-circle"></i>Currently Playing
          </a>
        </li>
        <li>
          <a href="/popular">
            <i class="far fa-star"></i>Popular
          </a>
        </li>
        <li>
          <a href="/toprated">
            <i class="far fa-arrow-alt-circle-up"></i>Top Rated
          </a>
        </li>
        <li>
          <a href="/upcoming">
            <i class="far fa-calendar-alt"></i>Upcoming
          </a>
        </li>
         <li>
          <a href="">
         <i class="fas fa-camera-movie"></i>Your Movie
          </a>
        </li>
        <li>
          <a href="/login-form">
        <i class="fa-regular fa-arrow-right-to-bracket"></i>LOGIN/SIGN UP
          </a>
        </li>
      </ul>
      
    </div>
    <form id="form" style="display: flex; justify-content: flex-end; padding: 1rem;">
        <input type="text" id="search" placeholder="Search" class="search" />
      </form>
    <!-- /.navbar-collapse -->
  </div>
  
  <!-- /.container-fluid -->
</nav>

 <div class="main" id="content"></div>

<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer type="text/javascript" src="/JS/nowplaying.js"></script>http://modernizr.com/download/#-fontface-backgroundsize-borderimage-borderradius-boxshadow-flexbox-hsla-multiplebgs-opacity-rgba-textshadow-cssanimations-csscolumns-generatedcontent-cssgradients-cssreflections-csstransforms-csstransforms3d-csstransitions-applicationcache-canvas-canvastext-draganddrop-hashchange-history-audio-video-indexeddb-input-inputtypes-localstorage-postmessage-sessionstorage-websockets-websqldatabase-webworkers-geolocation-inlinesvg-smil-svg-svgclippaths-touch-webgl-shiv-mq-cssclasses-addtest-prefixed-teststyles-testprop-testallprops-hasevent-prefixes-domprefixes-load
<script defer type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js"></script>
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/regular.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/fontawesome.js"></script>
{{!-- https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css --}}
<!-- IntersectionObserver polyfill -->
<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
<!-- Lozad.js from CDN -->
<script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script src="https://use.fontawesome.com/9ba9bb8b61.js"></script>
</div><

  </body>
</html>
