body {
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-image: url(https://source.unsplash.com/0M5URHZ_f3k);
  background-size: cover;
}

img {
  max-width: 100%;
  border: 2px white solid;
}
.navbar-brand {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.rating {
  font-weight: bold;
}

.release {
  font-weight: bold;
}

.eachMovie {
  color: white;
}
.btnModal {
  margin-bottom: 35px;
  border: black;
}
.modal-content {
  color: black;
  padding: 2px;
  min-width: 70%;
}
.moviePosterInModal {
  padding: 12px;
}
.movieName {
  font-size: 30px;
  font-weight: bold;
  font-family: "Carrois Gothic SC", sans-serif;
}
.btn-primary {
  margin: 10px;
  padding: 10px;
  background: transparent;
  color: red;
  border: 2px solid red;
}
#movieGenreLabel {
  color: white;
}

a:focus,
a:hover {
  color: #ffffff;
  text-decoration: none;
}

.slideshow {
  background-image: url(https://source.unsplash.com/0M5URHZ_f3k);
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0.99;
}

.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 420px;
}

.movie img {
  width: 150%;
}

.movie-info {
  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: #22254b;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.8rem;
}
.movie-info span.green {
  color: rgb(39, 189, 39);
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: rgb(214, 16, 16);
}

#postertest {
  background-size: cover;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar {
  min-height: 80px;
  margin-top: 20px;
  min-width: 50vh;
  background: #081c24;
  border-radius: 10px;
}

.navbar-default .navbar-brand {
  background: #e50914;
  color: #ffffff;
  padding: 1em;
  font-size: 4vh;
  min-height: 80px;
  border-radius: 10px;
  text-transform: uppercase;
  -moz-transition: -moz-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand a:hover {
  background: #e50914;
  color: #ffffff;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.navbar .navbar-nav {
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.navbar .navbar-nav li {
  float: none;
  display: inline-block;
}

.navbar .navbar-nav li a {
  font-size: 2vh;
  color: #ffffff;
}

.navbar .navbar-nav li a:hover {
  color: red;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  font-weight: bold;
  background-color: #e50914;
  color: #ffffff;
}

.wrap {
  width: 700px;
  margin: 10px auto;
  color: #fff;
  text-align: center;
  font-size: 20em;
  font-family: impact;
}

.favor {
  font-family: “Open Sans”;
  color: #f5f5f5;
  text-shadow: 0px -3px 4px #fff, 0px -2px 10px #ff3, 0px -10px 20px #f90,
    0px -20px 40px #c33;
  font-size: 100px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .favor {
    font-size: 60px;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .favor {
    font-size: 40px;
  }
}

/* @media (min-aspect-ratio: 16/9) {
  .favor {
    font-size: 40px;
  }
}
@media (max-aspect-ratio: 16/9) {
  .favor {
    font-size: 40px;
  }
} */
